{% comment %}
// Output Article Author component
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign article_author = article.user %}

{% comment %} Output component {% endcomment %}
<div class="article__author">
    {% if article_author %}
        <div class="container--image">
            <img src="{{ article_author.image | img_url: '200x200' }}" alt="{{ article_author.name }}">
        </div>
        <div class="container--information">
            <p class="author__name">Written by <span>{{ article_author.name }}</span></p>
            {% if show_tags and article.tags.size > 0 %}
                {% assign tag_string = "Posted in " %}
                {% for tag in article.tags %}
                    {% capture tag_link %}<a href="/blogs/news/tagged/{{ tag | handleize }}">{{ tag }}</a>{% endcapture %}
                    {% if forloop.last and article.tags.size > 1 %}
                        {% assign tag_string = tag_string | append: " and " | append: tag_link %}
                    {% elsif forloop.first %}
                        {% assign tag_string = tag_string | append: tag_link %}
                    {% else %}
                        {% assign tag_string = tag_string | append: ", " | append: tag_link %}
                    {% endif %}
                {% endfor %}
                <p class="article__tags">{{ tag_string }}</p>
            {% endif %}
        </div>
    {% else %}
        {% comment %} Fallback author block {% endcomment %}
        <div class="container--image">
            <img src="{{ 'default-author.jpg' | asset_url }}" alt="The Paquin Team">
        </div>
        <div class="container--information">
            <p class="author__name">Written by <span>The Paquin Team</span></p>
            {% if show_tags and article.tags.size > 0 %}
                <p class="article__tags">{{ tag_string }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>