{% comment %}
// Output Article Author component
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign article_author = article.author %}

{% comment %} Define author data array using string variables {% endcomment %}
{% comment %} Requires staff account with same name to create match and output data {% endcomment %}
{% comment %} Add additional authors with '|Full Name:full-name.jpg' {% endcomment %}
{% assign authors = "Graeme Bryson:graeme-bryson.jpg|Rob Kinkopf:rob-kinkopf.jpg" %}

{% comment %} Process tags {% endcomment %}
{% assign _tag_count_ = _article_._tags_._size_ %}
{% if _tag_count_ > 0 %}
    {% assign _tag_string_ = "Posted in " | append: _article_._tags_[0] %}
    {% for _tag_ in _article_._tags_ offset:1 limit:_tag_count_-2 %}
        {% assign _tag_string_ = _tag_string_ | append: ", " | append: _tag_ %}
    {% endfor %}
    {% if _tag_count_ > 2 %}
        {% assign _tag_string_ = _tag_string_ | append: ", and " | append: _article_._tags_[_tag_count_-1] %}
    {% elsif _tag_count_ == 2 %}
        {% assign _tag_string_ = _tag_string_ | append: " and " | append: _article_._tags_[1] %}
    {% endif %}
{% endif %}

{% comment %} Output component {% endcomment %}
<div class="article__author">
    {% assign author_found = false %}
    {% assign author_list  = authors | split: "|" %}
    {% for author in author_list %}
        {% assign author_details = author | split: ":" %}
        {% assign author_name    = author_details[0] %}
        {% assign author_image   = author_details[1] %}
        {% if article_author == author_name %}
            {% assign author_found = true %}
            {% comment %} Image {% endcomment %}
            <div class="container--image">
                <img src="{{ author_image | asset_url }}" alt="{{ author_name }}">
            </div>
            <div class="container--information">
                {% comment %} Name {% endcomment %}
                <p class="author__name">Written by <span>{{ author_name }}</span></p>
                {% if _show_tags_ and _tag_count_ > 0 %}
                    <p class="article__tags">{{ _tag_string_ }}</p>
                {% endif %}
            </div>
            {% break %}
        {% endif %}
    {% endfor %}
    {% comment %} Fallback author block {% endcomment %}
    {% if author_found == false %}
        {% comment %} Fallback (if unset/invalid) {% endcomment %}
        <div class="container--image">
            <img src="{{ 'default-author.jpg' | asset_url }}" alt="Default Author">
        </div>
        <div class="container--information">
            <p class="author__name">Written by <span>The Paquin Team</span></p>
            {% if show_tags and tag_count > 0 %}
                <p class="article__tags">{{ tag_string }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
