{% comment %}
// Output Content [Offset, Details] component
// Built specifically for Collection pages
{% endcomment %}

{% comment %} Assign section data to vars
{% assign data_collection = collection %}
{% assign section_data_information = data_collection.metafields.custom.collection_information %}
{% assign section_heading_small = section_data_information.heading_small %}
{% assign section_heading_large = section_data_information.heading_large %}
{% assign section_subheading = section_data_information.subheading %}
{% assign section_content = section_data_information.content %}
{% assign section_data_faq = data_collection.metafields.custom.collection_faqs %}

{% if data_collection != blank %}
    <pre>{{ data_collection | json }}</pre>
{% endif %}

{% if section_data_information != blank %}
    <pre>{{ section_data_information | json }}</pre>
{% endif %}

{% if section_data_faq != blank %}
    <pre>{{ section_data_faq | json }}</pre>
{% endif %}

{% comment %} Output section {% endcomment %}
<section class="section--content-offset theme--alt wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Heading [Large] {% endcomment %}
        {% if section_heading_large != blank %}
            <div class="container--heading-large">
                <h3 class="section__heading--large h1">{{ section_heading_large }}</h3>
            </div>
        {% endif %}
        {% comment %} Subheading {% endcomment %}
        {% if section_subheading != blank %}
            <div class="container--subheading">
                <p class="section__subheading">{{ section_subheading }}</p>
            </div>
        {% endif %}
        {% comment %} Content {% endcomment %}
        {% if section_content != blank %}
            <div class="container--content">
                {% comment %} <div class="section__content">{{ section_content | richtext }}</div> {% endcomment %}
                <div class="section__content">{{ section_content | metafield_tag }}</div>
            </div>
        {% endif %}
        {% comment %} FAQs {% endcomment %}
        {% if section_data_faq != blank %}
            <div class="container--faq">
                <div class="feed--faq">
                    {% for faq in section_data_faq %}
                        {% assign item_heading = faq.heading %}
                        {% assign item_content = faq.content %}
                        <div class="item">
                            {% if item_heading != blank %}
                                <h3 class="item__heading">{{ item_heading }}</h3>
                            {% endif %}
                            {% if item_content != blank %}
                                {% comment %} <div class="item__content">{{ item_content | richtext }}</div> {% endcomment %}
                                <div class="item__content">{{ item_content | metafield_tag }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section> {% endcomment %}


{% if collection.metafields.custom.collection_faqs != blank %}
    <div class="collection-faqs">
      <h2>FAQs</h2>
      <ul>
        {% for faq in collection.metafields.custom.collection_faqs.value %}
          <li>
            <h3>{{ faq.heading }}</h3>
            <p>{{ faq.content }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if collection.metafields.custom.collection_information != blank %}
    <div class="collection-information">
      <h2>Collection Information</h2>
      {% assign info = collection.metafields.custom.collection_information.value %}
      <h3 class="heading-small">{{ info.heading_small }}</h3>
      <h3 class="subheading">{{ info.subheading }}</h3>
      <h3 class="heading-large">{{ info.heading_large }}</h3>
      <p>{{ info.content }}</p>
    </div>
  {% endif %}