{% comment %}
// Output Content [Offset, Details] component
// Built specifically for Collection pages
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign data_collection = collection %}

{% comment %} Fetch collection_information Metaobject {% endcomment %}
{% assign collection_information = shopify.liquid_object_to_liquid_tag(data_collection.metafields.custom.collection_information) %}

{% assign section_heading_small = collection_information.heading_small %}
{% assign section_heading_large = collection_information.heading_large %}
{% assign section_subheading = collection_information.subheading %}
{% assign section_content = collection_information.content %}

{% comment %} Fetch collection_faqs Metaobjects {% endcomment %}
{% assign section_data_faq = data_collection.metafields.custom.collection_faqs %}

{% comment %} Output section {% endcomment %}
<section class="section--content-offset theme--alt wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Heading [Large] {% endcomment %}
        {% if section_heading_large != blank %}
            <div class="container--heading-large">
                <h3 class="section__heading--large h1">{{ section_heading_large }}</h3>
            </div>
        {% endif %}
        {% comment %} Subheading {% endcomment %}
        {% if section_subheading != blank %}
            <div class="container--subheading">
                <p class="section__subheading">{{ section_subheading }}</p>
            </div>
        {% endif %}
        {% comment %} Content {% endcomment %}
        {% if section_content != blank %}
            <div class="container--content">
                {% comment %} <div class="section__content">{{ section_content | richtext }}</div> {% endcomment %}
                <div class="section__content">{{ section_content | metafield_tag }}</div>
            </div>
        {% endif %}
        {% comment %} FAQs {% endcomment %}
        {% if section_data_faq != blank %}
            <div class="container--faq">
                <div class="feed--faq">
                    {% for faq in section_data_faq %}
                        {% assign faq_data = shopify.liquid_object_to_liquid_tag(faq) %}
                        {% comment %} Assign item data to vars {% endcomment %}
                        {% assign item_heading = faq_data.heading %}
                        {% assign item_content = faq_data.content %}
                        <div class="item">
                            {% if item_heading != blank %}
                                <h3 class="item__heading">{{ item_heading }}</h3>
                            {% endif %}
                            {% if item_content != blank %}
                                {% comment %} <div class="item__content">{{ item_content | richtext }}</div> {% endcomment %}
                                <div class="item__content">{{ item_content | metafield_tag }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>