{% comment %}
// Output Subcollection Feed component
{% endcomment %}

{% comment %} Output component {% endcomment %}
<div class="feed--collection variant--subcollection">
    {% assign child_collections = data_subcollections.value %}
    {% for subcollection in child_collections %}
        {% assign collection = collections[subcollection.handle] %}
        {% assign collection_url = collection.url %}
        {% assign collection_image = collection.image | img_url: '512x' %}
        {% assign collection_title = collection.title %}
        <div class="item">
            {% comment %} Image {% endcomment %}
            {% if collection_image %}
                <a class="item__wrap--image" href="{{ collection_url }}">
                    <img class="item__image" src="{{ collection_image }}" alt="{{ collection_title }}">
                </a>
            {% endif %}
            {% comment %} Title {% endcomment %}
            <p class="item__title"><a href="{{ collection_url }}">{{ collection_title }}</a></p>
        </div>
    {% endfor %}
</div>