{% comment %}
// Output Subcollection Feed component
{% endcomment %}

{% comment %} Output component {% endcomment %}
{% if section.settings.enable_subcollection %}
    <div class="feed--collection variant--subcollection">
        <h2 class="h5">Related parts</h2>
        {% for block in section_blocks %}
            {% if block.type == 'collection' and block.settings.parent_collection == current_collection_handle %}
                {% assign collection = collections[block.settings.collection] %}
                {% assign collection_url = collection.url %}
                {% assign collection_image = collection.image | img_url: '512x' %}
                {% assign collection_title = collection.title %}
                {% assign collection_description = collection.description %}
                
                <div class="item">
                    {% if collection_image %}
                        <a class="item__wrap--image" href="{{ collection_url }}">
                            <img class="item__image" src="{{ collection_image }}" alt="{{ collection_title }}">
                        </a>
                    {% endif %}
                    <h3 class="item__title"><a href="{{ collection_url }}">{{ collection_title }}</a></h3>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}