{% comment %}
// Output Subcollection Feed component
{% endcomment %}

{% comment %} Output component {% endcomment %}
<div class="feed--collection variant--subcollection">
    {% assign child_collections = data_subcollections.value %}
    {% for subcollection in child_collections %}
        {% assign full_collection = collections[subcollection.handle] %}
        <div class="item">
            {% if full_collection.image %}
            <a class="item__wrap--image" href="{{ full_collection.url }}">
                <img class="item__image" src="{{ full_collection.image | img_url: '512x' }}" alt="{{ full_collection.title }}">
            </a>
            {% endif %}
            <h3 class="item__title">
                <a href="{{ full_collection.url }}">{{ full_collection.title }}</a>
            </h3>
        </div>
    {% endfor %}
  </div>

  