{% comment %}
// Output Subcollection Feed component
{% endcomment %}

{% comment %} Output component {% endcomment %}
<div class="feed--collection variant--subcollection">
    {% for subcollection_id in subcollection_ids %}
        {% assign subcollection = collections[subcollection_id] %}
        {% if subcollection != blank %}
            <div class="item">
                {% if subcollection.image %}
                    <a class="item__wrap--image" href="{{ subcollection.url }}">
                        <img class="item__image" src="{{ subcollection.image | img_url: '512x' }}" alt="{{ subcollection.title }}">
                    </a>
                {% endif %}
                <h3 class="item__title"><a href="{{ subcollection.url }}">{{ subcollection.title }}</a></h3>
            </div>
        {% endif %}
    {% endfor %}
  </div>