{% comment %}
// Output related product feed for the current product
{% endcomment %}

{% if product.metafields.custom.related_products %} 
  	{% assign data_source = product.metafields.custom.related_products.value %}
	<div id="product__related-products">
		<h2 class="h5">Related Products</h2>
		{% for item in data_source %}
			{% if item.available == true %}
				<div class="col--media">
					<a href="{{ item.url }}" aria-label="{{ item.title }}" title="{{ item.title }}">
						<img class="related-product__image" src="{{ item.images[0] | img_url: '500x' }}" alt="{{ item.title }}">
					</a>
				</div>
				<div class="col--content">
					<a href="{{ item.url }}" aria-label="{{ item.title }}" title="{{ item.title }}">
						<h4 class="item__title">{{ item.title }}</h4>
					</a>
					<p class="item__price">{{ item.price | money }}</p>
				</div>
				<div class="col--cta">
					<form action="/cart/add" method="post" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{{ item.variants.first.id }}">
						<input type="number" name="quantity" value="1" min="1" hidden>
						<button type="submit" class="related-product__add-to-cart-btn">Add to Cart</button>
					</form>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
