{% comment %}
// Output related product feed for the current product
{% endcomment %}

{% if product.metafields.custom.related_products %} 
  	{% assign data_source = product.metafields.custom.related_products.value %}
	<div id="product__related-products">
		<h2 class="h5">Commonly Purchased With:</h2>
		{% for item in data_source %}
			{% if item.available == true %}
				<div class="col--media">
					<a href="{{ item.url }}" aria-label="{{ item.title }}" title="{{ item.title }}">
						{%- assign related_img = item.images[0] -%}
						<img class="related-product__image"
						     src="{{ related_img | image_url: width: 500 }}"
						     srcset="{{ related_img | image_url: width: 250 }} 250w, {{ related_img | image_url: width: 500 }} 500w, {{ related_img | image_url: width: 750 }} 750w"
						     sizes="(max-width: 600px) 50vw, 250px"
						     alt="{{ item.title | escape }}"
						     width="{{ related_img.width | default: 500 }}"
						     height="{{ related_img.height | default: 500 }}"
						     loading="lazy">
					</a>
				</div>
				<div class="col--content">
					<a href="{{ item.url }}" aria-label="{{ item.title }}" title="{{ item.title }}">
						<h4 class="item__title">{{ item.title }}</h4>
					</a>
					<p class="item__price">{{ item.price | money }}</p>
				</div>
				<div class="col--cta">
					<form action="/cart/add" method="post" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{{ item.variants.first.id }}">
						<input type="number" name="quantity" value="1" min="1" hidden>
						<button type="submit" class="related-product__add-to-cart-btn">Add to Cart</button>
					</form>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
