{% comment %}
  @param product {Object}
    The product object

  @param layout {String}
    The layout type

  @param is_product_modal {Boolean}
    Is the snippet being loaded in a Quick shop

  @param is_featured_product {Boolean}
    Is the snippet being loaded in a Featured product

  @param onboarding {Boolean}
    Is there onboarding content

  @param show_dynamic_checkout_button {Boolean}
    If true, show dynamic checkout button

  @param select_first_available_variant {Boolean}
    If true, select the first available variant

  @param gallery_aspect_ratio {String}
    This is the gallery aspect ratio, can be one of 'natural', 'short', 'square', 'long'

  @param gallery_thumbnail_position {String}
    This is the gallery thumbnail position, can be one of 'below', or 'left'

  @param gallery_image_crop {Boolean}
    Whether to crop images

  @param gallery_hover_zoom {String}
    This is the hover zoom setting, which is either 'disabled', 'separate', or 'replace'

  @param gallery_click_to_zoom {String}
    This is the click to zoom setting, which is either 'disabled', 'mobile', 'desktop', or 'always'
{% endcomment %}


{% liquid
  	assign onboarding = onboarding | default: false
  	assign layout = layout | default: nil
  	assign is_featured_product = is_featured_product | default: false
  	assign selected_variant = product.selected_variant
	if product.variants.size == 1 or select_first_available_variant == false
		assign selected_variant = product.selected_or_first_available_variant
	endif
  	assign compare_at_price = selected_variant.compare_at_price
  	assign price = selected_variant.price
  	assign sku = selected_variant.sku
  	assign product_available = product.available
%}

{% assign on_sale = false %}
{% if compare_at_price > price %}
	{% assign on_sale = true %}
{% endif %}

{% assign consistent_saved = false %}
{% capture consistent_savings %}
	{%
    	render 'consistent-savings',
    	variants: product.variants,
    	on_sale: on_sale
  	%}
{% endcapture %}

{% if consistent_savings contains 'true' %}
	{% assign consistent_saved = true %}
{% endif %}


<article class="grid--product">

	<div class="grid__sizer"></div>
	
	{% comment %} Product Header {% endcomment %}
	<div id="product__header" class="grid__item">
		<!-- Title -->
		<h1 id="product__title">{{  product.title }}</h1>
		<!-- Price -->
		<div
			id="product__price"
			aria-live="polite"
			data-product-pricing
		>
			{%
				render 'product-price',
				product: product,
				class_root: 'product',
				price: price,
				price_varies: false,
				compare_at_price: compare_at_price,
				compare_at_price_varies: false,
				on_sale: on_sale,
				emphasize_price: false,
				show_original: true,
				show_range: false,
				include_unit_price: true,
				include_tax_line: true,
				include_hidden_price: true
			%}
			{%
				render 'product-badge',
				product: product,
				class_root: 'product',
				product_available: product_available,
				price: price,
				price_varies: false,
				compare_at_price: compare_at_price,
				compare_at_price_varies: false,
				on_sale: on_sale,
				show_saved: true,
				include_range: false,
				selected_variant: selected_variant,
			%}
		</div>
		<!-- SKU -->
		{% render 'product-sku', sku: sku %}
		<!-- Data Sheet -->
		{% render 'product-data-sheet' %}
	</div>


	{% comment %} Product Media {% endcomment %}
	<div id="product__media" class="grid__item">
		{%
			render 'product-gallery',
			product: product,
			select_first_available_variant: select_first_available_variant,
			aspect_ratio: gallery_aspect_ratio,
			thumbnail_position: gallery_thumbnail_position,
			image_crop: gallery_image_crop,
			gallery_click_to_zoom: gallery_click_to_zoom,
			gallery_hover_zoom: gallery_hover_zoom
		%}
	</div>


	{% comment %} Product Core {% endcomment %}
	<div id="product__core" class="grid__item">
		<!-- Form -->
		<div
			class="product-form--regular"
			data-product-form-regular
		>
			<div data-product-form-area>
				{% if is_product_modal %}
					<div data-product-quickshop-message class="product-message--container"></div>
				{% endif %}
				{% liquid
					if product.template_suffix contains 'pre-order'
						assign show_dynamic_checkout_button = false
					endif
					if product.template_suffix contains 'pre-order' and is_product_modal
						assign enable_local_pickup = false
					else
						assign enable_local_pickup = block.settings.enable_local_pickup
					endif
				%}
				{%
					render 'product-form',
					product: product,
					enable_local_pickup: enable_local_pickup,
					show_recipient_form: show_recipient_form,
					show_dynamic_checkout_button: show_dynamic_checkout_button,
					selected_variant: selected_variant,
					is_product_modal: is_product_modal,
				%}
			</div>
		</div>
		<!-- Highlights -->
		{% render 'product-highlights' %}
		<!-- Related Products -->
		{% render 'product-related-products' %}
		<!-- Inquiry Form -->
		{%
			render 'product-request-form',
			product: product,
			heading: block.settings.title,
			show_quantity: block.settings.show_quantity,
			show_message: block.settings.show_message,
			selected_variant: selected_variant,
			sku: sku,
		%}
	</div>


	{% comment %} Product Data {% endcomment %}
	<div id="product__data" class="grid__item">
		<!-- Description -->
		{% render 'product-description' %}
		<!-- Key Specifications -->
		{% render 'product-key-specifications' %}
		<!-- Related Press -->
		{% render 'product-related-press' %}
		<!-- Whitepapers -->
		{% render 'product-whitepapers' %}
		<!-- Instructions -->
		{% render 'product-instructions' %}
	</div>

</article>



<div class="product-main">
	<div class="product-details" data-product-details>
		  {% for block in section.blocks %}
	<div
	  class="
		product-block
		product-block--{{ block.type }}
		{% if forloop.first == true -%}
		  product-block--first
		{% endif %}
	  "
	  {{ block.shopify_attributes }}
	>
	  {% case block.type %}
		{% when 'complementary_products' %}
		  {%
			render 'complementary-products',
			product: product,
			block: block,
		  %}


		{% comment %} {% when 'vendor' %}
		  {% if product.vendor != blank or onboarding %}
			<div class="product-vendor">
			  {% unless onboarding %}
				{%- capture vendor_link -%}
				  {{ product.vendor | link_to_vendor }}
				{%- endcapture -%}
				{{ 'product.general.by_vendor_html' | t: vendor_link: vendor_link }}
			  {% else %}
				{{ 'onboarding.product.by_vendor' | t }}
			  {% endunless %}
			</div>
		  {% endif %} {% endcomment %}

		{% comment %} {% when 'inventory_status' %}
		  {% for variant in product.variants %}
			{% capture stock_attributes %}
			  data-stock-level
			  data-stock-variant-id="{{ variant.id }}"
			  data-stock-variant-selected="{% if variant == selected_variant %}true{% else %}false{% endif %}"
			{% endcapture %}

			{%
			  render 'product-stock-level',
			  attr: stock_attributes,
			  inventory_display: block.settings.inventory_display,
			  inventory_transfer: block.settings.inventory_transfer_notice,
			  variant: variant,
			  verbose: true,
			%}
		  {% endfor %} {% endcomment %}

		  
	  {% endcase %}
	</div>
  {% endfor %}
</div>
</div>