{% comment %}
// Output instruction feed for the current product
{% endcomment %}

{% if product.metafields.custom.instructions != blank %}
    <div id="product__instructions">
        <h2 class="h5">Instructions</h2>

        {%- assign instructions_json = product.metafields.custom.instructions.value -%}
        <p>Instructions JSON: {{ instructions_json }}</p>

        {%- assign instructions = instructions_json | parse_json -%}
        <p>Parsed Instructions: {{ instructions }}</p>

        <ul class="list--link-arrow">
            {% for item in instructions %}
                <li>
                    <p>Item: {{ item }}</p>
                    <a href="{{ item.url }}" title="{{ item.title | escape }}" target="_blank">{{ item.title | escape }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <p>No instructions available.</p>
{% endif %}
