{% comment %}
// Output related product feed for the current product
{% endcomment %}


{% if product.metafields.custom.related_products %} 
	{% assign data_source = product.metafields.custom.related_products.value %}
	<div id="product__related-products">
		<h2>Related Products</h2>
		{% for item in data_source %}
		{% if item.available == true %}
			<a href="{{ item.url }}" class="related-product" aria-label="{{item.title}}" title="{{ item.title }}">
			<img class="related-product__image" src="{{ item.images[0] | img_url: '500x' }}" alt="{{ item.title }}">
			</a>
		{% endif %}
		{% endfor %}
	</div>
{% endif %}