{% comment %}
// Output related product feed for the current product
{% endcomment %}


<!-- Debug output for metafield value -->
Namespace: {{ product.metafields.custom.related_products.namespace }}
Key: {{ product.metafields.custom.related_products.key }}
Value: {{ product.metafields.custom.related_products.value }}
Type: {{ product.metafields.custom.related_products.type }}


{% if product.metafields.custom.related_products %} 
{% assign relatedproduct = product.metafields.custom.related_products.value %}

<h2>Related Products</h2>
<div class="related-products" id="related-products-{{ block.id }}">
	{% for prod in relatedproduct %}
	  {% if prod.available == true %}
		<a href="{{ prod.url }}" class="related-product" aria-label="{{prod.title}}" title="{{ prod.title }}">
		  <img class="related-product__image" src="{{ prod.images[0] | img_url: '500x' }}" alt="{{ prod.title }}">
		</a>
	  {% endif %}
	{% endfor %}
  </div>


{% endif %}