{% comment %}
// Output Content [Offset, Open Roles] component
// Built specifically for Careers template
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign section_heading_small = section.settings.heading_small %}
{% assign section_heading_large = section.settings.heading_large %}
{% assign section_heading_size  = section.settings.heading_size %}
{% assign section_subheading    = section.settings.subheading %}
{% assign section_content       = section.settings.content %}
{% assign section_blocks        = section.blocks %}
{% assign section_theme         = section.settings.theme %}

{% comment %} Output section {% endcomment %}
<section class="section--content-offset-roles theme--{{ section_theme }} wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Heading [Large] {% endcomment %}
        {% if section_heading_large != blank %}
            <div class="container--heading-large">
                <h3 class="section__heading--large {{ section_heading_size }}">{{ section_heading_large }}</h3>
            </div>
        {% endif %}
        {% comment %} Subheading {% endcomment %}
        {% if section_subheading != blank %}
            <div class="container--subheading">
                <p class="section__subheading">{{ section_subheading }}</p>
            </div>
        {% endif %}
        {% comment %} Feed {% endcomment %}
        {% if section_blocks != blank %}
            <div class="container--feed">
                <div class="feed--role">
                    {% for block in section_blocks %}
                        {% comment %} Assign block data to vars {% endcomment %}
                        {% assign block_title    = block.settings.title %}
                        {% assign block_division = block.settings.division %}
                        {% assign block_location = block.settings.location %}
                        {% assign block_link     = block.settings.link %}
                        {% comment %} Output item {% endcomment %}
                        <div class="item">
                            {% comment %} Container [Overview] {% endcomment %}
                            <div class="container--overview">
                                {% comment %} Title {% endcomment %}
                                {% if block_title != blank %}
                                    <p class="item__title">{{ block_title }}</p>
                                {% endif %}
                                {% comment %} Container [Details] {% endcomment %}
                                <div class="container--details">
                                    {% comment %} Division {% endcomment %}
                                    {% if block_division != blank %}
                                        <span class="item__division">{{ block_division }}</span>
                                    {% endif %}
                                    {% comment %} Conditional Divider {% endcomment %}
                                    {% if block_division != blank and block_location != blank %}
                                        <span class="item__divider">·</span>
                                    {% endif %}
                                    {% comment %} Location {% endcomment %}
                                    {% if block_location != blank %}
                                        <span class="item__location">{{ block_location }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% comment %} Container [Link] {% endcomment %}
                            <div class="container--link">
                                {% comment %} LinkedIn {% endcomment %}
                                {% if block_link != blank %}
                                    <a href="{{ block_link }}" class="item__link link--icon-after link--icon-arrow-outgoing" target="_blank">Apply</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% comment %} Content {% endcomment %}
        {% if section_content != blank %}
            <div class="container--content">
                <div class="section__content">{{ section_content | richtext }}</div>
            </div>
        {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Content [Offset, Roles]",
    "settings": [
        {
            "type": "text",
            "id": "heading_small",
            "label": "Heading [Small]",
            "default": "Heading",
            "info": "Primary section heading (h2)"
        },
        {
            "type": "text",
            "id": "heading_large",
            "label": "Heading [Large]",
            "default": "Heading",
            "info": "Secondary section heading (h3)"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading [Large] Size",
            "info" : "Select an element size for the display heading",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              }
            ],
            "default": "h1"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Content</p>"
        },
        {
            "type": "select",
            "id": "theme",
            "label": "Section Theme",
            "options": [
              {
                "value": "base",
                "label": "Base"
              },
              {
                "value": "alt",
                "label": "Alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "base"
        }
    ],
    "blocks": [
        {
            "type": "role-block",
            "name": "Role",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "text",
                    "id": "division",
                    "label": "Division",
                    "default": "Division"
                },
                {
                    "type": "text",
                    "id": "location",
                    "label": "Location",
                    "default": "Location"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Job Post URL"
                }
            ]
        }
    ]
}
{% endschema %}