{% comment %}
// Output Carousel [Content/Media] component
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign section_heading_small = section.settings.heading_small %}
{% assign section_blocks        = section.blocks %}
{% assign section_theme         = section.settings.theme %}

{% comment %} Output section {% endcomment %}
<section class="section--carousel-content-media theme--{{ section_theme }} wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Carousel {% endcomment %}
        <div class="container--carousel">
            <div class="carousel--content-media">
                {% for block in section_blocks %}
                    {% comment %} Assign block data to vars {% endcomment %}
                    {% assign block_logo         = block.settings.logo %}
                    {% assign block_subheading   = block.settings.subheading %}
                    {% assign block_heading      = block.settings.heading %}
                    {% assign block_heading_size = block.settings.heading_size %}
                    {% assign block_content      = block.settings.content %}
                    {% assign block_link_text    = block.settings.link_text %}
                    {% assign block_link_url     = block.settings.link_url %}
                    {% assign block_cta          = block.settings.cta %}
                    {% assign block_image        = block.settings.image %}
                    {% comment %} Output item {% endcomment %}
                    <div class="item">
                        <div class="item__grid">
                            {% comment %} Container [Content] {% endcomment %}
                            <div class="container--content">
                                {% comment %} Wrap [Content] {% endcomment %}
                                <div class="item__wrap--content">
                                    {% comment %} Logo {% endcomment %}
                                    {% if block_logo != blank %}
                                        <img class="item__logo" src="{{ block_logo | img_url: '800x' }}" alt="">
                                    {% endif %}
                                    {% comment %} Subeading {% endcomment %}
                                    {% if block_subheading != blank %}
                                        <p class="item__subheading">{{ block_subheading }}</p>
                                    {% endif %}
                                    {% comment %} Heading {% endcomment %}
                                    {% if block_heading != blank %}
                                        <h3 class="item__heading {{ block_heading_size }}">{{ block_heading }}</h3>
                                    {% endif %}
                                    {% comment %} Content {% endcomment %}
                                    {% if block_content != blank %}
                                        <div class="item__content">{{ block_content | richtext }}</div>
                                    {% endif %}
                                    {% comment %} Link {% endcomment %}
                                    {% if block_link_text != blank and block_link_url != blank %}
                                        <a href="{{ block_link_url }}" class="item__link link--arrow-forward">{{ block_link_text }}</a>
                                    {% endif %}
                                </div>
                                    {% comment %} Wrap [Actions] {% endcomment %}
                                    <div class="item__wrap--actions">
                                        {% comment %} CTA {% endcomment %}
                                        {% if block_cta != blank %}
                                            <div class="item__cta">{{ block_cta | richtext }}</div>
                                        {% endif %}
                                        {% comment %} Navigation {% endcomment %}
                                        <p>Navigation arrows</p>
                                </div>
                            </div>
                            {% comment %} Container [Media] {% endcomment %}
                            <div class="container--media">
                                {% if block_image != blank %}
                                    <img class="item__image" src="{{ block_image | img_url: '800x' }}" alt="{{ block_heading }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% comment %} Load jQuery and Slick Carousel JavaScript {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
{% comment %} Initialize Slick Carousel {% endcomment %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        console.log('jQuery version:', $.fn.jquery); // Check jQuery version
        console.log('Initializing carousel...');
        
        // Wait for jQuery to be fully ready
        $.noConflict();
        jQuery(document).ready(function($) {
            console.log('Slick script loaded.');
            if ($.fn.slick) {
                $('.carousel--content-media').slick({
                    speed: 300,
                    slidesToShow: 1,
                    arrows: false
                });
            } else {
                console.error('Slick is not defined');
            }
        });
    });
</script>

{% schema %}
{
    "name": "Carousel [Content/Media]",
    "settings": [
        {
            "type": "text",
            "id": "heading_small",
            "label": "Heading [Small]",
            "default": "Heading",
            "info": "Primary section heading (h2)"
        },
        {
            "type": "select",
            "id": "theme",
            "label": "Section Theme",
            "options": [
              {
                "value": "base",
                "label": "Base"
              },
              {
                "value": "alt",
                "label": "Alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "base"
        }
    ],
    "blocks": [
        {
            "type": "carousel-block",
            "name": "Carousel Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading",
                    "default": "Subheading"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Heading"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "Heading Size",
                    "info" : "Select an element size for the block heading",
                    "options": [
                      {
                        "value": "h2",
                        "label": "H2"
                      },
                      {
                        "value": "h3",
                        "label": "H3"
                      }
                    ],
                    "default": "h2"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "default": "<p>Content</p>"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text",
                    "default": "Link text",
                    "info": "Leave empty if no link is required"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link URL"
                },
                {
                    "type": "richtext",
                    "id": "cta",
                    "label": "CTA Content",
                    "default": "<p>Call-to-action</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Slide Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel [Content/Media]",
            "category": "Paquin"
        }
    ]
}
{% endschema %}
