{% comment %}
// Output Carousel [Content Media] component
{% endcomment %}

<section class="section--carousel-content-media">
    {% comment %} Heading {% endcomment %}
    <h2 class="section__heading h5">{{ section.settings.heading }}</h2>
    <div class="carousel--content-media">
        {% for block in section.blocks %}
            <div class="carousel--content-media">
                {% comment %} Container [Content] {% endcomment %}
                <div class="container--content">
                    {% comment %} Heading {% endcomment %}
                    <h3 class="item__heading h2">{{ block.settings.heading }}</h3>
                    {% comment %} Content {% endcomment %}
                    <div class="item__content">{{ block.settings.content | richtext }}</div>
                    {% comment %} CTA [Primary] {% endcomment %}
                    {% if block.settings.cta_primary_url and block.settings.cta_primary_text %}
                        <a href="{{ block.settings.cta_primary_url }}" class="item__cta--primary link--arrow-forward">{{ block.settings.cta_primary_text }}</a>
                    {% endif %}
                    {% comment %} CTA [Secondary] {% endcomment %}
                    <div class="item__cta--secondary">{{ block.settings.cta_secondary | richtext }}</div>
                </div>
                {% comment %} Container [Media] {% endcomment %}
                <div class="container--media">
                    {% if block.settings.image != blank %}
                        <img class="item__image" src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.heading }}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>


{% schema %}
{
    "name": "Carousel [Content Media]",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Main Section Heading",
            "default": "Your Main Heading Here"
        }
    ],
    "blocks": [
        {
            "type": "carousel-block",
            "name": "Carousel Block",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Item Heading",
                    "default": "Item Heading Here"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "default": "<p>Default content here...</p>"
                },
                {
                    "type": "text",
                    "id": "cta_primary_text",
                    "label": "Primary CTA Text",
                    "default": "Link text",
                    "info": "Leave empty if CTA is not required"
                },
                {
                    "type": "url",
                    "id": "cta_primary_url",
                    "label": "Primary CTA URL"
                },
                {
                    "type": "richtext",
                    "id": "cta_secondary",
                    "label": "Secondary CTA Content",
                    "default": "<p>Secondary CTA</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Carousel Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Default Carousel",
            "category": "Media"
        }
    ]
}
{% endschema %}
