{% comment %}
// Output Content [Blocks] component
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign section_heading_small   = section.settings.heading_small %}
{% assign section_heading_large   = section.settings.heading_large %}
{% assign section_blocks          = section.blocks %}
{% assign section_block_numbering = section.settings.show_numbering %}
{% assign section_columns         = section.settings.columns %}
{% assign section_theme           = section.settings.theme %}

{% comment %} Output section {% endcomment %}
<section class="section--content-blocks theme--{{ section_theme }}">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small h5">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Heading [Large] {% endcomment %}
        {% if section_heading_large != blank %}
            <div class="container--heading-large">
                <h3 class="section__heading--large h2">{{ section_heading_large }}</h3>
            </div>
        {% endif %}
        {% comment %} Feed {% endcomment %}
        <div class="container--feed">
            <div class="feed--block variant--col-{{ section_columns }}">
                {% for block in section_blocks %}
                    {% comment %} Assign block data to vars {% endcomment %}
                    {% assign block_heading = block.settings.heading %}
                    {% assign block_content = block.settings.content %}
                    {% comment %} Output item {% endcomment %}
                    <div class="item">
                        {% comment %} Number {% endcomment %}
                        {% if section_block_numbering %}
                            <span class="item__number">_{{ forloop.index | prepend: '00' | slice: -2, 2 }}</span>
                        {% endif %}
                        {% comment %} Heading {% endcomment %}
                        {% if block_heading != blank %}
                            <h3 class="item__heading">{{ block_heading }}</h3>
                        {% endif %}
                        {% comment %} Content {% endcomment %}
                        {% if block_content != blank %}
                            <div class="item__content">{{ block_content | richtext }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Content [Blocks]",
    "settings": [
        {
            "type": "text",
            "id": "heading_small",
            "label": "Heading [Small]",
            "default": "Heading",
            "info": "Primary section heading (h2)"
        },
        {
            "type": "text",
            "id": "heading_large",
            "label": "Heading [Large]",
            "default": "Heading",
            "info": "Secondary section heading (h3)"
        },
        {
            "type": "checkbox",
            "id": "show_numbering",
            "label": "Show block numbering",
            "default": false
        },
        {
            "type": "select",
            "id": "columns",
            "label": "Columns [Desktop]",
            "info" : "Column count managed automatically at smaller breakpoints",
            "options": [
              {
                "value": "3",
                "label": "Three"
              },
              {
                "value": "4",
                "label": "Four"
              },
              {
                "value": "6",
                "label": "Six"
              }
            ],
            "default": "4"
        },
        {
            "type": "select",
            "id": "theme",
            "label": "Section Theme",
            "options": [
              {
                "value": "base",
                "label": "Base"
              },
              {
                "value": "alt",
                "label": "Alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "base"
        }
    ],
    "blocks": [
        {
            "type": "content-block",
            "name": "Content Block",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content",
                    "default": "<p>Content</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Content [Blocks]",
            "category": "Paquin"
        }
    ]
}
{% endschema %}