{% comment %}
// Output Content/Media Split component
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign section_heading_small = section.settings.heading_small %}
{% assign section_subheading    = section.settings.subheading %}
{% assign section_heading_large = section.settings.heading_large %}
{% assign section_content       = section.settings.content %}
{% assign section_link_text     = section.settings.link_text %}
{% assign section_link_url      = section.settings.link_url %}
{% assign section_image         = section.settings.image %}
{% assign section_theme         = section.settings.theme %}

{% comment %} Output section {% endcomment %}
<section class="section--content-media-split theme--{{ section_theme }} wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Container [Heading, Small] {% endcomment %}
        <div class="container--heading-small section__primary-heading">
            {% comment %} Heading [Small] {% endcomment %}
            {% if section_heading_small != blank %}
                <h2 class="section__heading--small h5">{{ section_heading_small }}</h2>
            {% endif %}
        </div>
        {% comment %} Container [Content] {% endcomment %}
        <div class="container--content">
            <div class="section__wrap--content">
                {% comment %} Subheading {% endcomment %} 
                {% if section_subheading != blank %}
                    <p class="section__subheading">{{ section_subheading }}</p>
                {% endif %}
                {% comment %} Heading [Large] {% endcomment %}
                {% if section_heading_large != blank %}
                    <h3 class="section__heading--large h2">{{ section_heading_large }}</h3>
                {% endif %}
                {% comment %} Content {% endcomment %}
                {% if section_content != blank %}
                    <div class="section__content">{{ section_content | richtext }}</div>
                {% endif %}
                {% comment %} Link {% endcomment %}
                {% if section_link_text != blank and section_link_url != blank %}
                    <a href="{{ section_link_url }}" class="section__link link--icon-after link--icon-arrow-forward">{{ section_link_text }}</a>
                {% endif %}
            </div>
        </div>
        {% comment %} Container [Media] {% endcomment %}
            <div class="container--media">
            {% comment %} Image {% endcomment %}
            <div class="section__image">
                {% if section_image != blank %}
                    <img class="item__image" src="{{ section_image | img_url: '800x' }}" alt="{{ section.settings.heading }}">
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Content/Media Split",
    "settings": [
        {
            "type": "text",
            "id": "heading_small",
            "label": "Heading [Small]",
            "default": "Heading",
            "info": "Primary section heading (h2)"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
        },
        {
            "type": "text",
            "id": "heading_large",
            "label": "Heading [Large]",
            "default": "Heading",
            "info": "Secondary section heading (h3)"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Content</p>"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Link Text",
            "default": "Link text",
            "info": "Leave empty if no link is required"
        },
        {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "theme",
            "label": "Section Theme",
            "options": [
              {
                "value": "base",
                "label": "Base"
              },
              {
                "value": "alt",
                "label": "Alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "base"
        }
    ],
    "presets": [
        {
            "name": "Content/Media Split",
            "category": "Paquin"
        }
    ]
}
{% endschema %}