{% comment %}
// Output Content [Offset, Form] component
// Built specifically for Contact template
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign section_heading_small    = section.settings.heading_small %}
{% assign section_heading_large    = section.settings.heading_large %}
{% assign section_heading_size     = section.settings.heading_size %}
{% assign section_subheading       = section.settings.subheading %}
{% assign section_form             = section.settings.form %}
{% assign section_method_phone     = section.settings.method_phone %}
{% assign section_method_phone_alt = section.settings.method_phone_alt %}
{% assign section_method_address   = section.settings.method_address %}
{% assign section_theme            = section.settings.theme %}

{% comment %} Output section {% endcomment %}
<section class="section--content-offset theme--{{ section_theme }} wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Heading [Large] {% endcomment %}
        {% if section_heading_large != blank %}
            <div class="container--heading-large">
                <h3 class="section__heading--large {{ section_heading_size }}">{{ section_heading_large }}</h3>
            </div>
        {% endif %}
        {% comment %} Subheading {% endcomment %}
        {% if section_subheading != blank %}
            <div class="container--subheading">
                <p class="section__subheading">{{ section_subheading }}</p>
            </div>
        {% endif %}
        {% comment %} Form {% endcomment %}
        {% if section_form != blank %}
            <div class="container--form">
                {{ section_form }}
            </div>
        {% endif %}
        {% comment %} Contact Methods {% endcomment %}
        <div class="container--methods">
            <h5>Contact Our Sales Team</h5>
            {% comment %} Phone {% endcomment %}
            <h5>Contact Our Sales Team</h5>
            {% if section_method_phone != blank %}
                {% assign formatted_phone = section_method_phone | replace: ' ', '' | replace: '-', '' | replace: '(', '' | replace: ')', '' | replace: '.', '' %}
                <p class="method--phone"><a href="tel:{{ formatted_phone }}">{{ section_method_phone }}</a></p>
            {% endif %}
            {% comment %} Phone [Alt] {% endcomment %}
            {% if section_method_phone_alt != blank %}
                {% assign formatted_phone_alt = section_method_phone_alt | replace: ' ', '' | replace: '-', '' | replace: '(', '' | replace: ')', '' | replace: '.', '' %}
                <p class="method--phone-alt"><a href="tel:{{ formatted_phone_alt }}">{{ section_method_phone_alt }}</a></p>
            {% endif %}
            {% comment %} Address {% endcomment %}
            {% if section_method_address != blank %}
                <hr class="divider--base">
                <h5>Visit or write to us</h5>
                <p class="method--address">{{ section_method_address }}</p>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Contact Form",
    "settings": [
        {
            "type": "text",
            "id": "heading_small",
            "label": "Heading [Small]",
            "default": "Heading",
            "info": "Primary section heading (h2)"
        },
        {
            "type": "text",
            "id": "heading_large",
            "label": "Heading [Large]",
            "default": "Heading",
            "info": "Secondary section heading (h3)"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading [Large] Size",
            "info" : "Select an element size for the display heading",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              }
            ],
            "default": "h1"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
        },
        {
            "type": "richtext",
            "id": "form",
            "label": "Form Embed",
            "default": "<p>Form embed code</p>"
        },
        {
            "type": "text",
            "id": "method_phone",
            "label": "Phone [Local]",
            "default": "Phone number"
        },
        {
            "type": "text",
            "id": "method_phone_alt",
            "label": "Phone [Alternative]",
            "default": "Alternative phone number"
        },
        {
            "type": "text",
            "id": "method_address",
            "label": "Address",
            "default": "Address"
        },
        {
            "type": "select",
            "id": "theme",
            "label": "Section Theme",
            "options": [
              {
                "value": "base",
                "label": "Base"
              },
              {
                "value": "alt",
                "label": "Alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "base"
        }
    ]
}
{% endschema %}