{% comment %}
// Output Content [Offset, Form] component
// Built specifically for Contact template
{% endcomment %}

{% comment %} Assign section data to vars {% endcomment %}
{% assign section_heading_small    = section.settings.heading_small %}
{% assign section_heading_large    = section.settings.heading_large %}
{% assign section_heading_size     = section.settings.heading_size %}
{% assign section_subheading       = section.settings.subheading %}
{% assign section_form             = section.settings.form %}
{% assign section_method_phone     = section.settings.method_phone %}
{% assign section_method_phone_alt = section.settings.method_phone_alt %}
{% assign section_method_address   = section.settings.method_address %}
{% assign section_theme            = section.settings.theme %}

{% comment %} Output section {% endcomment %}
<section class="section--content-offset variant--contact-form theme--{{ section_theme }} wrap--container">
    <div class="section__grid wrap--max push--center">
        {% comment %} Heading [Small] {% endcomment %}
        {% if section_heading_small != blank %}
            <div class="container--heading-small section__primary-heading">
                <h2 class="section__heading--small">{{ section_heading_small }}</h2>
            </div>
        {% endif %}
        {% comment %} Heading [Large] {% endcomment %}
        {% if section_heading_large != blank %}
            <div class="container--heading-large">
                <h3 class="section__heading--large {{ section_heading_size }}">{{ section_heading_large }}</h3>
            </div>
        {% endif %}
        {% comment %} Subheading {% endcomment %}
        {% if section_subheading != blank %}
            <div class="container--subheading">
                <p class="section__subheading">{{ section_subheading }}</p>
            </div>
        {% endif %}
        {% comment %} Form {% endcomment %}
        <div class="container--form">
            <h3 class="h5">Send us a message</h3>
            <div class="globo-formbuilder" data-id="MzkwNTc="></div>
        </div>
        {% comment %} Contact Methods {% endcomment %}
        <div class="container--methods feed--method">
            {% comment %} The Paquin Company, Global Intex & Excel Manufacturing {% endcomment %}
            <div class="item">
                <h3 class="h5 item__title">The Paquin Company, Global Intex & Excel Manufacturing</h3>
                <div class="item__address">
                    9286 Mercantile Dr.<br>
                    Mentor, OH 44060
                </div>
                <a class="item__phone--primary link--icon-after link--icon-arrow-outgoing" href="tel:2162615700 ">(216) 261-5700 </a>
                <a class="item__phone--secondary link--icon-after link--icon-arrow-outgoing" href="tel:18002605664">1-800-260-5664</a>
            </div>
            {% comment %} Paquin Sensors {% endcomment %}
            <div class="item">
                <h3 class="h5 item__title">Paquin Sensors</h3>
                <div class="item__address">
                    2816 Blue Ridge Blvd<br>
                    P.O. Box 100<br>
                    West Union, SC 29696
                </div>
                <a class="item__phone--primary link--icon-after link--icon-arrow-outgoing" href="tel:18008318217">1-800-831-8217</a>
                <a class="item__phone--secondary link--icon-after link--icon-arrow-outgoing" href="tel:18647777517">1-864-777-7517</a>
                <a class="item__phone--fax link--icon-after link--icon-arrow-outgoing" href="tel:18646531047">1-864-653-1047 (Fax)</a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Contact Form",
    "settings": [
        {
            "type": "text",
            "id": "heading_small",
            "label": "Heading [Small]",
            "default": "Heading",
            "info": "Primary section heading (h2)"
        },
        {
            "type": "text",
            "id": "heading_large",
            "label": "Heading [Large]",
            "default": "Heading",
            "info": "Secondary section heading (h3)"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading [Large] Size",
            "info" : "Select an element size for the display heading",
            "options": [
              {
                "value": "h1",
                "label": "H1"
              },
              {
                "value": "h2",
                "label": "H2"
              }
            ],
            "default": "h1"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
        },
        {
            "type": "richtext",
            "id": "form",
            "label": "Form Embed",
            "default": "<p>Form embed code</p>"
        },
        {
            "type": "select",
            "id": "theme",
            "label": "Section Theme",
            "options": [
              {
                "value": "base",
                "label": "Base"
              },
              {
                "value": "alt",
                "label": "Alternative"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ],
            "default": "base"
        }
    ]
}
{% endschema %}